* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
aside,
nav,
article {
    text-transform: uppercase;
    color: Indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: whitesmoke;
}

@media screen and (min-width:768px) {
    #main {
        flex-direction: row;
    }
}

header {
    background-color: PeachPuff;
}

footer {
    background-color: lightcoral;
    flex: 0 0 10vh;
}

nav {
    flex: 0 0 10vh;
    background-color: rgb(188, 143, 143);
}

article {
    flex: 1 1 auto;
}

aside {
    flex: 0 0 10vw;
    background-color: lightpink;
    order: 2;
}